<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>About</title>
</head>

<body>
    <header class="navigation">
        <a class="logo" href="./index.html">Homer's Web Page</a>
        <nav class="nav">
            <a href="./about.html">About</a>
            <a href="./gallery.html">Gallery</a>
        </nav>
    </header>
    <main>
        <section class="about-container">
            <article class="about-bio">
                <h3>Homer Simpson</h3>
                <p>
                    Homer Jay Simpson (born May 12, 1956 is the main protagonist of The Simpsons series (or show). He is
                    the spouse of Marge Simpson and father of Bart, Lisa and Maggie Simpson. Homer is overweight (said
                    to be
                    239 pounds), lazy, and often ignorant to the world around him. Although Homer has many flaws, he has
                    shown to have great caring, love, and even bravery to those he cares about and, sometimes, even
                    others
                    he doesn't. Homer Simpson is in his late 30s and early 40s.
                </p>
                <p>
                    His favorite color is blue, and he enjoys dancing, eating donuts, drinking, hugging, driving a
                    sit-down
                    arcade racer, playing the piano and horse riding.
                </p>
            </article>
            <div>
                <img src="./img/homero-simpson_25_1024x768.jpg" alt="Homer">
            </div>
        </section>
    </main>
</body>

</html>