<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Gallery</title>
</head>

<body>
    <header class="navigation">
        <a class="logo" href="./index.html">Homer's Web Page</a>
        <nav class="nav">
            <a href="./about.html">About</a>
            <a href="./gallery.html">Gallery</a>
        </nav>
    </header>

    <main>
        <section class="gallery-grid">
            <img src="../img/homer-s.png" alt="Homer Simpson">
            <img src="../img/homero-s2.png" alt="Homer Simpson">
            <img src="../img/homero-s3.png" alt="Homer Simpson">
            <img src="../img/homero-s4.png" alt="Homer Simpson">
            <img src="../img/homero-s5.png" alt="Homer Simpson">
            <img src="../img/homero-s6.png" alt="Homer Simpson">
        </section>
    </main>
</body>

</html>